*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#222;
    transition:0.3s;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#0f172a;
    color:white;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

header button{
    padding:10px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    margin-bottom:25px;
}

.hero button{
    padding:12px 25px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.pipeline{
    text-align:center;
    padding:50px;
}

.flow{
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:20px;
    background:#0f172a;
    color:white;
    margin-top:40px;
}

.dark{
    background:#111827;
    color:white;
}

.dark .card{
    background:#1f2937;
    color:white;
}

.dark header,
.dark footer{
    background:black;
}
